<!DOCTYPE html>
<html>
    <head>
        <title>Find The Flag</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/main.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>
            <nav>
                <a class="nav_a" href="/index"> Главная </a>
                <a class="nav_a" href=""> Задания </a>
                <a class="nav_a" href=""> Учебные материалы </a>
                <a class="nav_a" href="login.html"><img class="authorize" href=""></a>
            </nav>
        </header>
        <div class="task_sheet">
            <% for(var i = 0; i < categories.length; i++) {%>
                <div>
                    <p><a href=<%="/tasks/"+categories[i].id %>><%=categories[i].categoryname %></a></p>
                    <p><%=categories[i].categorydescription %></p>
                </div>
            <%} %>
        </div>
    </body>
</html>
