p{
    margin: auto;
    margin-left: 5vh;
    margin-right: 5vh;
    font-family: Montserrat;
    font-size: 15pt;
}

.info{
    font-size: 20pt;
    margin-top: 5vh;
}

.flag{
    margin-top: 10vh;
}

input{
    border: none;
    border-radius: 4vh;
    width: 65vh;
    height: 7vh;
    font-size: 15pt;
    margin-top: 2vh;
    font-family: Montserrat;
}

button{
    border: #ff5001 solid;
    border-radius: 4vh;
    background-color: #ecf2fe;
    color: #ff5001;
    width: 35vh;
    height: 7vh;
    font-size: 15pt;
    margin-top: 2vh;
    font-family: Montserrat;
    margin-bottom: 4vh;
}

button:hover{
    color: white;
    background-color: #ff5001;
}