
.task{
    width: 30vh;
    height: 30vh;
    background-color: #ff5001;
    border-radius: 4vh;
    float: left;
    margin: 5vh;
    margin-top: 17vh;
    text-align: center;
}

.task:hover{
    color: #f5f6fa;
}

.task>p{
    margin-top: 13vh;
    font-size: 20pt;
}

.caption, .desc{
    margin: auto;
    margin-top: 3vh;
    margin-left: 5vh;
    font-family: Montserrat;
}

.caption {
    font-size: 30px;
}