form{
    background-color: rgb(71,74,81);
    border-radius: 2vh;
    margin: auto;
    margin-top: 10%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    width: fit-content;
    height: fit-content;
    padding-left: 2%;
    padding-right: 2%;
    font-family: Hack;
}

p{
    color: azure;
    font-size: 25pt;
    margin: auto;
    margin-bottom: 1vh;
    width: 50vh;
}

input{
    width: 30vh;
    height: 5vh;
    font-size: 15pt;
    margin-top: 2vh;
    font-family: Hack;
}

#submit{
    background-color: rgb(71,74,81);
    color: azure;
    margin-bottom: 4vh;
}

#submit:hover{
    color: rgb(127,199,255);
}

a{
    color: azure;
    text-decoration: none;
}

a:active{
    color: azure;
}

a:hover{
    color: rgb(127,199,255);
}