body{
    background-color: rgb(41,49,51);
}

.authorize{
    content: url(../images/login.png);
    width: 7vh;
    float: right;
}

.authorize:hover{
    content: url(../images/login_hover.png);
}

header{
    width: 101%;
    margin-left: -1vh;
    margin-top: -1vh;
    background-color: rgb(71,74,81);
}

nav{
    margin: auto;
    text-align: center;
    height: 10vh;
    width: fit-content;
    padding-top: 1vh;
}

.nav_a{
    margin: 7vh;
    font-size: 35pt;
    color: azure;
    text-decoration: none;
    font-family: Hack;
}

.nav_a:active{
    color: azure;
}

.nav_a:hover{
    color: rgb(127,199,255);
}

@font-face{
    font-family: Hack;
    src: url(https://cdn.jsdelivr.net/npm/hack-font@3/build/web/hack.css);
}